In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [2]:
df = pd.read_csv("../data/drug_data.csv")
## display all the columns and rows
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
df.shape

(45282, 90)

In [4]:
df.columns

Index(['prescription_date', 'prescription_year', 'prescription_month',
       'day_of_week', 'quarter', 'patient_id', 'patient_taj', 'patient_name',
       'birth_date', 'age_at_prescription', 'patient_gender', 'birth_place',
       'medication_name', 'active_ingredient', 'atc_code', 'atc_level1',
       'atc_level2', 'atc_level3', 'pharmaceutical_form', 'active_amount',
       'active_unit', 'package_quantity', 'package_unit', 'ttt_code',
       'ksz_code', 'package_size', 'dosage', 'prescription_status',
       'has_status_data', 'is_filled', 'encounter_id', 'encounter_date',
       'clinic_name', 'mep_code', 'medical_specialty', 'visit_reason',
       'is_admin_visit', 'doctor_stamp', 'doctor_name', 'icd10_codes',
       'diagnosis_names', 'num_diagnoses', 'has_diabetes_type1',
       'has_diabetes_type2', 'has_diabetes_any', 'has_hyperlipidemia',
       'has_obesity', 'has_hypothyroidism', 'has_hyperthyroidism',
       'has_hypertension', 'has_angina', 'has_myocardial_infarction',
       'has_ischemic_heart_disease', 'has_atrial_fibrillation',
       'has_heart_failure', 'has_cerebrovascular_disease', 'has_stroke',
       'has_peripheral_vascular_disease', 'has_asthma', 'has_copd',
       'has_pneumonia', 'has_dementia', 'has_schizophrenia',
       'has_mood_disorder', 'has_depression', 'has_anxiety_disorder',
       'has_substance_abuse', 'has_rheumatoid_arthritis', 'has_osteoarthritis',
       'has_osteoporosis', 'has_chronic_kidney_disease',
       'has_acute_kidney_failure', 'has_cancer', 'has_breast_cancer',
       'has_lung_cancer', 'has_colorectal_cancer', 'has_peptic_ulcer',
       'has_inflammatory_bowel_disease', 'has_liver_disease', 'is_pregnant',
       'has_injury', 'has_infectious_disease', 'has_blood_disorder',
       'has_neurological_disorder', 'has_eye_disorder', 'has_ear_disorder',
       'has_skin_disorder', 'has_symptoms_signs_abnormal_findings',
       'data_source', 'prescription_number'],
      dtype='object')

In [5]:
df['atc3_code'] = df['atc_code'].str.upper().str.strip().str[:4]

In [6]:
df.drop(columns=['patient_taj','patient_name','birth_date','birth_place','atc_level1','atc_level2','atc_level3','ttt_code','has_status_data', 'is_filled', 'doctor_stamp', 'doctor_name', 'diagnosis_names', 'num_diagnoses', 'has_diabetes_type1',
       'has_diabetes_type2', 'has_diabetes_any', 'has_hyperlipidemia',
       'has_obesity', 'has_hypothyroidism', 'has_hyperthyroidism',
       'has_hypertension', 'has_angina', 'has_myocardial_infarction',
       'has_ischemic_heart_disease', 'has_atrial_fibrillation',
       'has_heart_failure', 'has_cerebrovascular_disease', 'has_stroke',
       'has_peripheral_vascular_disease', 'has_asthma', 'has_copd',
       'has_pneumonia', 'has_dementia', 'has_schizophrenia',
       'has_mood_disorder', 'has_depression', 'has_anxiety_disorder',
       'has_substance_abuse', 'has_rheumatoid_arthritis', 'has_osteoarthritis',
       'has_osteoporosis', 'has_chronic_kidney_disease',
       'has_acute_kidney_failure', 'has_cancer', 'has_breast_cancer',
       'has_lung_cancer', 'has_colorectal_cancer', 'has_peptic_ulcer',
       'has_inflammatory_bowel_disease', 'has_liver_disease', 'is_pregnant',
       'has_injury', 'has_infectious_disease', 'has_blood_disorder',
       'has_neurological_disorder', 'has_eye_disorder', 'has_ear_disorder',
       'has_skin_disorder', 'has_symptoms_signs_abnormal_findings',],inplace=True,axis=1)

In [7]:
df.shape

(45282, 31)

In [8]:
df.head()

,prescription_date,prescription_year,prescription_month,day_of_week,quarter,patient_id,age_at_prescription,patient_gender,medication_name,active_ingredient,atc_code,pharmaceutical_form,active_amount,active_unit,package_quantity,package_unit,ksz_code,package_size,dosage,prescription_status,encounter_id,encounter_date,clinic_name,mep_code,medical_specialty,visit_reason,is_admin_visit,icd10_codes,data_source,prescription_number,atc3_code
0,2023-02-22 17:47:44.000,2023,2,3,1,H32001000001,NaN,NaN,ALGOPYRIN 500 MG TABLETTA,metamizol-nátrium,N02BB02,NaN,NaN,NaN,NaN,NaN,NaN,10x buborékcsomagolásban,1x1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EESZT,1,N02B
1,2023-02-22 17:36:49.000,2023,2,3,1,H32001000001,NaN,NaN,LORDESTIN 5 MG FILMTABLETTA,desloratadin,R06AX27,NaN,NaN,NaN,NaN,NaN,NaN,30x buborékcsomagolásban,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EESZT,1,R06A
2,2023-02-22 17:36:49.000,2023,2,3,1,H32001000001,NaN,NaN,VITAMIN D3 PHARMA PATENT 30000 NE FILMTABLETTA,Colecalciferol,A11CC05,NaN,NaN,NaN,NaN,NaN,NaN,"2x PVC/PVdC // Alu buborékcsomagolásban, dobozban",utasítás szerint,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EESZT,1,A11C
3,2023-07-06 18:04:29.000,2023,7,4,3,H32001000004,56.0,férfi,BÉRES CALCIUM 500 MG FILMTABLETTA,kalcium-karbonát,A12AA04,NaN,NaN,NaN,NaN,NaN,NaN,30x hdpe tartályban,D.S.: reggel: 1 tabletta naponta,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EESZT,1,A12A
4,2023-12-18 13:11:07.000,2023,12,1,4,H32001000004,57.0,férfi,BISOPROLOL-RATIOPHARM 5 MG TABLETTA,bisoprolol,C07AB07,tabletta,5.0,mg,30.0,db,30x buborékcsomagolásban,NaN,NaN,NaN,H32001007373,2023-12-18 12:57:39.000,Nyírkáta rendelő,NaN,Belgyógyászat,Akut ellátás,0.0,"I10H0, R0000, Z0130",INTERNAL,1,C07A

In [9]:
df['prescription_date'] = pd.to_datetime(df['prescription_date'])

In [10]:
df['prescription_date_dateonly'] = pd.to_datetime(df['prescription_date'].dt.date)

In [11]:
df['month_start'] = df['prescription_date_dateonly'].dt.to_period('M').dt.start_time

In [12]:
## recalculate prescription_year from prescription_date_dateonly
df['prescription_year'] = df['prescription_date_dateonly'].dt.year
df['prescription_month'] = df['prescription_date_dateonly'].dt.month
df['day_of_week'] = df['prescription_date_dateonly'].dt.dayofweek
df['quarter'] = df['prescription_date_dateonly'].dt.quarter

In [13]:
df['prescription_status_norm'] = df['prescription_status'].astype('str').str.lower().str.strip()

In [14]:
df['prescription_status'].value_counts(dropna=False)

prescription_status
3            22989
NaN          11152
1             7237
7             1838
Dispensed      987
6              678
Open           339
Withdrawn       59
2                3
Name: count, dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45282 entries, 0 to 45281
Data columns (total 34 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   prescription_date           45282 non-null  datetime64[ns]
 1   prescription_year           45282 non-null  int32
 2   prescription_month          45282 non-null  int32
 3   day_of_week                 45282 non-null  int32
 4   quarter                     45282 non-null  int32
 5   patient_id                  45282 non-null  object
 6   age_at_prescription         45270 non-null  float64
 7   patient_gender              45270 non-null  object
 8   medication_name             45282 non-null  object
 9   active_ingredient           36730 non-null  object
 10  atc_code                    41412 non-null  object
 11  pharmaceutical_form         11127 non-null  object
 12  active_amount               10575 non-null  float64
 13  active_unit                 9605 non-null   object
 14  package_quantity            11127 non-null  float64
 15  package_unit                9719 non-null   object
 16  ksz_code                    11152 non-null  object
 17  package_size                32252 non-null  object
 18  dosage                      31344 non-null  object
 19  prescription_status         34130 non-null  object
 20  encounter_id                11152 non-null  object
 21  encounter_date              11152 non-null  object
 22  clinic_name                 11152 non-null  object
 23  mep_code                    23 non-null     object
 24  medical_specialty           11152 non-null  object
 25  visit_reason                10953 non-null  object
 26  is_admin_visit              11152 non-null  float64
 27  icd10_codes                 11152 non-null  object
 28  data_source                 45282 non-null  object
 29  prescription_number         45282 non-null  int64
 30  atc3_code                   41412 non-null  object
 31  prescription_date_dateonly  45282 non-null  datetime64[ns]
 32  month_start                 45282 non-null  datetime64[ns]
 33  prescription_status_norm    45282 non-null  object
dtypes: datetime64[ns](3), float64(4), int32(4), int64(1), object(22)
memory usage: 11.1+ MB

In [16]:
df['package_quantity'].value_counts(dropna=False)

package_quantity
NaN       34155
30.0       5486
28.0        953
100.0       827
50.0        729
60.0        694
90.0        448
20.0        380
1.0         373
10.0        211
3.0         129
14.0        111
200.0        85
15.0         76
120.0        70
6.0          59
5.0          59
56.0         57
140.0        54
25.0         47
7.0          45
180.0        42
2.0          34
12.0         33
75.0         27
4.0          16
24.0         12
4800.0        8
16.0          7
21.0          7
300.0         7
1000.0        7
6000.0        4
40.0          4
800.0         4
150.0         4
35.0          4
400.0         3
70.0          2
45.0          1
130.0         1
4348.0        1
7200.0        1
5899.0        1
98.0          1
4576.0        1
9.0           1
500.0         1
Name: count, dtype: int64

In [17]:
map_prescription_status = {
    "3": "filled",
    "4": "filled",
    "5":"filled",
    "8":"filled",
    "dispensed":"filled",
    "6":"not_filled",
    "withdrawn":"not_filled",
     "7":"not_filled",
    "open":"unknown",
    "1":"unknown",
    "2":"unknown",
}

df['prescription_filled_status'] = df['prescription_status_norm'].map(map_prescription_status)

In [18]:
df['prescription_filled_status'].value_counts(dropna=False)

prescription_filled_status
filled        23976
NaN           11152
unknown        7579
not_filled     2575
Name: count, dtype: int64

In [19]:
##kAdd known_status_flag = 1 if filled/not_filled else 0.
df['known_status_flag'] = df['prescription_filled_status'].isin(['filled','not_filled']).astype(int)

In [20]:
filled = df[df["prescription_filled_status"] == "filled"].copy()

In [21]:
filled.shape

(23976, 36)

In [22]:
## drop rows where atc3_code is null
filled = filled[filled['atc3_code'].notna()]
filled.shape

(21597, 36)

In [23]:
filled = filled[filled['month_start'].notna()]
filled.shape

(21597, 36)

In [24]:
filled.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21597 entries, 1 to 43297
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   prescription_date           21597 non-null  datetime64[ns]
 1   prescription_year           21597 non-null  int32
 2   prescription_month          21597 non-null  int32
 3   day_of_week                 21597 non-null  int32
 4   quarter                     21597 non-null  int32
 5   patient_id                  21597 non-null  object
 6   age_at_prescription         21588 non-null  float64
 7   patient_gender              21588 non-null  object
 8   medication_name             21597 non-null  object
 9   active_ingredient           17109 non-null  object
 10  atc_code                    21597 non-null  object
 11  pharmaceutical_form         0 non-null      object
 12  active_amount               0 non-null      float64
 13  active_unit                 0 non-null      object
 14  package_quantity            0 non-null      float64
 15  package_unit                0 non-null      object
 16  ksz_code                    0 non-null      object
 17  package_size                21597 non-null  object
 18  dosage                      20534 non-null  object
 19  prescription_status         21597 non-null  object
 20  encounter_id                0 non-null      object
 21  encounter_date              0 non-null      object
 22  clinic_name                 0 non-null      object
 23  mep_code                    0 non-null      object
 24  medical_specialty           0 non-null      object
 25  visit_reason                0 non-null      object
 26  is_admin_visit              0 non-null      float64
 27  icd10_codes                 0 non-null      object
 28  data_source                 21597 non-null  object
 29  prescription_number         21597 non-null  int64
 30  atc3_code                   21597 non-null  object
 31  prescription_date_dateonly  21597 non-null  datetime64[ns]
 32  month_start                 21597 non-null  datetime64[ns]
 33  prescription_status_norm    21597 non-null  object
 34  prescription_filled_status  21597 non-null  object
 35  known_status_flag           21597 non-null  int64
dtypes: datetime64[ns](3), float64(4), int32(4), int64(2), object(23)
memory usage: 5.8+ MB

In [25]:
cols_keep_core = [
    "month_start",
    "prescription_date",
    "prescription_date_dateonly",
    "atc3_code",
    "atc_code",
    "medication_name",
    "patient_id",
    "prescription_filled_status",   # or prescription_status_norm
    "prescription_number",
    "data_source",
]

In [26]:
final_df = filled[cols_keep_core]

In [27]:
final_df.head()

,month_start,prescription_date,prescription_date_dateonly,atc3_code,atc_code,medication_name,patient_id,prescription_filled_status,prescription_number,data_source
1,2023-02-01,2023-02-22 17:36:49,2023-02-22,R06A,R06AX27,LORDESTIN 5 MG FILMTABLETTA,H32001000001,filled,1,EESZT
2,2023-02-01,2023-02-22 17:36:49,2023-02-22,A11C,A11CC05,VITAMIN D3 PHARMA PATENT 30000 NE FILMTABLETTA,H32001000001,filled,1,EESZT
3,2023-07-01,2023-07-06 18:04:29,2023-07-06,A12A,A12AA04,BÉRES CALCIUM 500 MG FILMTABLETTA,H32001000004,filled,1,EESZT
6,2023-12-01,2023-12-18 13:09:22,2023-12-18,C09B,C09BX01,"CO-DALNESSA 4 MG/5 MG/1,25 MG TABLETTA",H32001000004,filled,1,EESZT
7,2023-07-01,2023-07-06 18:04:29,2023-07-06,C02C,C02CA06,EBRANTIL 90 MG RETARD KAPSZULA,H32001000004,filled,1,EESZT

In [ ]:
dedup = final_df.drop_duplicates(
    subset=[
        "patient_id",
        "atc3_code",
        "prescription_date",
        "prescription_number",
        "data_source",
    ]
).copy()

In [33]:
print(len(final_df), "rows before")
print(len(dedup), "rows after")

21597 rows before
20365 rows after

In [34]:
dedup = final_df.drop_duplicates(
    subset=[
        "patient_id",
        "atc3_code",
        "prescription_date",
        "prescription_number",
        "prescription_filled_status",
        "data_source",
    ]
).copy()

In [36]:
dedup.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20365 entries, 1 to 43297
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   month_start                 20365 non-null  datetime64[ns]
 1   prescription_date           20365 non-null  datetime64[ns]
 2   prescription_date_dateonly  20365 non-null  datetime64[ns]
 3   atc3_code                   20365 non-null  object
 4   atc_code                    20365 non-null  object
 5   medication_name             20365 non-null  object
 6   patient_id                  20365 non-null  object
 7   prescription_filled_status  20365 non-null  object
 8   prescription_number         20365 non-null  int64
 9   data_source                 20365 non-null  object
dtypes: datetime64[ns](3), int64(1), object(6)
memory usage: 1.7+ MB

In [37]:
dedup_df = dedup.copy()

In [38]:
dedup_df['prescription_number'].value_counts(dropna=False)

prescription_number
1     8363
2     4110
3     2649
4     1577
5     1017
6      690
7      467
8      346
9      258
10     189
11     151
12     116
13      88
14      68
15      48
16      35
17      25
18      25
19      17
20      13
21      12
22      12
24      11
23      11
25      10
27       9
26       7
29       5
30       5
33       4
32       4
28       4
35       3
34       3
31       3
36       2
37       1
38       1
39       1
40       1
41       1
42       1
43       1
44       1
Name: count, dtype: int64

In [39]:
monthly_atc3 = (
    dedup_df
    .groupby(["atc3_code", "month_start"])
    .size()                      # counts rows
    .reset_index(name="packages")  # each row = 1 package
)

In [42]:
monthly_atc3.head()

  atc3_code month_start  packages
0         -  2024-04-01         1
1      A02B  2023-03-01        31
2      A02B  2023-04-01        62
3      A02B  2023-05-01        86
4      A02B  2023-06-01        56

In [43]:
summary = (
    monthly_atc3
    .groupby("atc3_code")
    .agg(
        n_months=("packages", "size"),
        months_nonzero=("packages", lambda x: (x > 0).sum()),
        total_packages=("packages", "sum"),
    )
    .reset_index()
)

In [44]:
primary_atc3 = summary.loc[
    (summary["n_months"] >= 18) &
    (summary["months_nonzero"] >= 12) &    # at least 12 months with any use
    (summary["total_packages"] >= 30)      # not ultra-rare
, "atc3_code"]

monthly_primary = monthly_atc3[monthly_atc3["atc3_code"].isin(primary_atc3)].copy()

In [47]:
# Assume this is your full monthly table after filters:
# monthly_primary: [atc3_code, month_start, packages]

all_months = pd.date_range(
    monthly_primary["month_start"].min(),
    monthly_primary["month_start"].max(),
    freq="MS"
)

idx = pd.MultiIndex.from_product(
    [monthly_primary["atc3_code"].unique(), all_months],
    names=["atc3_code", "month_start"]
)

monthly_full = (
    monthly_primary
    .set_index(["atc3_code", "month_start"])
    .reindex(idx)
    .reset_index()
)

monthly_full["packages"] = monthly_full["packages"].fillna(0).astype(int)

In [48]:
monthly_full["year"] = monthly_full["month_start"].dt.year
monthly_full["month"] = monthly_full["month_start"].dt.month
monthly_full["month_index"] = (
    (monthly_full["year"] - monthly_full["year"].min()) * 12
    + monthly_full["month"]
)

In [49]:
monthly_full.head()

  atc3_code month_start  packages  year  month  month_index
0      A02B  2023-02-01         0  2023      2            2
1      A02B  2023-03-01        31  2023      3            3
2      A02B  2023-04-01        62  2023      4            4
3      A02B  2023-05-01        86  2023      5            5
4      A02B  2023-06-01        56  2023      6            6

In [50]:
monthly_full = monthly_full.sort_values(["atc3_code", "month_start"])

for lag in [1, 2, 3, 12]:
    monthly_full[f"packages_lag{lag}"] = (
        monthly_full
        .groupby("atc3_code")["packages"]
        .shift(lag)
    )

In [51]:
monthly_full.head()

,atc3_code,month_start,packages,year,month,month_index,packages_lag1,packages_lag2,packages_lag3,packages_lag12
0,A02B,2023-02-01,0,2023,2,2,NaN,NaN,NaN,NaN
1,A02B,2023-03-01,31,2023,3,3,0.0,NaN,NaN,NaN
2,A02B,2023-04-01,62,2023,4,4,31.0,0.0,NaN,NaN
3,A02B,2023-05-01,86,2023,5,5,62.0,31.0,0.0,NaN
4,A02B,2023-06-01,56,2023,6,6,86.0,62.0,31.0,NaN

In [52]:
# Drop rows where we don't have enough lag history (NaNs)
model_df = monthly_full.dropna(subset=["packages_lag1", "packages_lag2", "packages_lag3"]).copy()

# Features and target
feature_cols = [
    "month", "year", "month_index",
    "packages_lag1", "packages_lag2", "packages_lag3",
    # "packages_lag12"  # include if you have at least 1 year history
]

X = model_df[feature_cols]
y = model_df["packages"]

In [54]:
model_df.to_csv("../data/atc3_monthly_full.csv", index=False)